#analysis_div
{
	background: #fff;
    padding: 0px;
    font-size: 16px;
}
#analysis_head
{
	font-size: 30px;
    color: #335b6b;
    padding: 5px 15px;
    text-align: center;
    text-decoration: underline;
}
#analysis_body
{
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 10px;
}
#tags_div
{
	padding: 15px 10px;
}
.tag
{
	display: inline-block;
	margin-bottom: 20px !important;
	padding: 0px 5px;
}
#tags_div .label
{
	font-size: 18px;
	border-radius: .25em !important;
}