*
{
	box-sizing: border-box;
	outline: none !important;
	font-family: Calibri;
}
:focus, :active
{
	outline: none !important;
}
a, a:hover, a:focus
{
	text-decoration: none;
}
img
{
	cursor: pointer;
}
select
{
	cursor: pointer;
}
body
{

}
.pointer
{
	cursor: pointer;
}
.black
{
	color: black;
}
.fleft
{
	float: left;
}
.thumbnail
{
	width: 100%;
	height: 75%;
}
.small_thumbnail
{
	width: 60px;
	height: 60px;
}
.search_thumbnail
{
	width: 45px;
	height: 45px;
}
.listing_thumbnail
{
	width: 80%;
	height: 50%;
}
.btn-orange, .btn-orange:focus
{
	background: #f4511e;
	color: white;
}
.btn-orange:hover
{
	background: white;
	color: #f4511e;
	border: 1px solid #f4511e;
}
.btn-blue, .btn-blue:focus
{
	background: #0da3e2;
	color: white;
}
.btn-blue:hover
{
	background: white;
	color: #0da3e2;
	border: 1px solid #0da3e2;
}
.btn-ltblue, .btn-ltblue:focus
{
	background: skyblue;
	color: white;
}
.btn-ltblue:hover
{
	background: white;
	color: skyblue;
	border: 1px solid skyblue;
}
.lr0pad
{
	padding-left: 0px;
	padding-right: 0px;
}
.l0pad
{
	padding-left: 0px;
}
.r0pad
{
	padding-right: 0px;
}
input::-webkit-calendar-picker-indicator
{
	display: none;
}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset !important;
    -webkit-text-fill-color: black !important;
}
.hide
{
	display: none;
}
.vcenter
{
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.remove_from_wishlist
{
	background: #ff9933;
}
.remove_from_wishlist:focus, .remove_from_wishlist:hover
{
	background: #e67300;
}
.progress_tip
{
	background: #cfe3e8;
	cursor: pointer;
}
.tooltip
{
	background: white;
	font-weight: 400;
}
.round
{
	border-radius: 100%;
}
.tip_danger + .tooltip > .tooltip-inner{background-color: #d9534f;}
.tip_danger + .tooltip > .tooltip-arrow { border-bottom-color:#d9534f; }

.tip_warning + .tooltip > .tooltip-inner{background-color: #f0ad4e;}
.tip_warning + .tooltip > .tooltip-arrow { border-bottom-color:#f0ad4e; }

.tip_info + .tooltip > .tooltip-inner{background-color: #5bc0de;}
.tip_info + .tooltip > .tooltip-arrow { border-bottom-color:#5bc0de; }

.tip_primary + .tooltip > .tooltip-inner{background-color: #337ab7;}
.tip_primary + .tooltip > .tooltip-arrow { border-bottom-color:#337ab7; }

.tip_success + .tooltip > .tooltip-inner{background-color: #5cb85c;}
.tip_success + .tooltip > .tooltip-arrow { border-bottom-color:#5cb85c; }

.tip_danger_lg + .tooltip { width: 100%;}
.tip_danger_lg + .tooltip > .tooltip-inner{background-color: red; font-size: 130%;}
.tip_danger_lg + .tooltip > .tooltip-arrow { border-right-color:red; }

.tip_info_lg + .tooltip { width: 100%;}
.tip_info_lg + .tooltip > .tooltip-inner{background-color: #0da3e2; font-size: 150%;}
.tip_info_lg + .tooltip > .tooltip-arrow { border-right-color:#0da3e2; }
.label .badge { background: #fff; }
.label-success .badge{color: #5cb85c;}
.label-primary .badge{color: #337ab7;}
.label-info .badge{color: #5bc0de;}
.label-warning .badge{color: #f0ad4e;}
.label-danger .badge{color: #d9534f;}
.label-default .badge{color: #000;}
hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.topnav
{
	font-size: 18px;
}
.navbar-brand
{
	font-size: 20px;
}
#main_div
{
	background: #ecf0f5;
	margin-top: 50px;
	padding: 10px;
	font-weight: normal;
	min-height: 500px;
	overflow: auto;
}
.box-body.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.result_str strong
{
	font-size: 16px;
}
#footer
{
	text-align: center;
	font-size: 18px;
	margin: auto;
}
#scrollToTop
{
	position: fixed;
	width: 45px;
	height: 45px;
    bottom: 40px;
    right: 20px;
	padding: 0px 2px 4px 5px;
	display: none;
	font-size: 155%;
}
#scrollToTop:hover
{
	text-decoration:none;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.ul-boxed li
{
	padding: 7px;
    background-color: #FdFdFd;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 2px;
    border-left: 5px solid;
    border-left-color: #03cc85;
}