#text_area, #title_text
{
	padding: 15px;
	font-size: 18px;
	border-radius: 0px;
	margin-bottom: 10px;
}
button
{
	font-size: 16px !important;
}
#upload_file_div
{
	background: #fff;
	border: 1px solid #ccc;
	height: 150px;
	cursor: pointer;
}
#upload_file_div h2
{
	text-align: center;
	margin-top: 5%;
}
#file_upload
{
	display: none;
}