#article, #write_review
{
	background: #fff;
}
#article_head
{
	font-size: 35px;
    color: #335b6b;
    padding: 5px 15px;
    text-align: center;
}
#article_body
{
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 30px;
    font-size: 18px;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
#tags_div
{
	text-align: center;
	padding: 15px 15px;
}
#tags_div .label
{
	font-size: 18px;
	margin: 0px auto;
	
}
#write_review
{
	padding: 15px 10px;
	overflow: auto;
}
#all_reviews
{
	background: inherit;
	padding: 0px;
	overflow: auto;
	border: 2px solid white;
}
#all_reviews_head
{
	background: #fff;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	padding: 10px 2px;
}
#sort_div
{
	background: #fff;
	margin: 0px;
}
.user_review
{
	background: #fff;
	box-shadow: -1px 1px 1px gray;
	margin-top: 7px;
}
.knob_div
{
	margin-top: 2%;
	margin-bottom: 2%;
}