#article
{
	background: #fff;
}
#article_head
{
	font-size: 35px;
    color: #335b6b;
    padding: 5px 15px;
    text-align: center;
}
#article_body
{
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 30px;
    font-size: 18px;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
#tags_div
{
	text-align: center;
	padding: 15px 15px;
}
#tags_div .label
{
	font-size: 18px;
	margin: 0px auto;
	
}